<h1>User詳細ページ</h1>
<!-- userの詳細 -->
<div>
  <h2>User info</h2>
  <p><%= image_tag @user.get_profile_image(100,100) %></p>
  <p>name:<%= @user.name %></p>
  <p>introduction:<%= @user.introduction %></p>
  <% if @user == current_user %>
   <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
  
</div>

<!-- New book -->

<!-- userの投稿一覧 -->
